<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>注册</title>
		<link rel="stylesheet" href="../static/css/reset.css" />
		<link rel="stylesheet" href="../static/css/common-login.css" />
	</head>
	<body>
		<div class="wrap login_wrap">
			<div class="content">
				
				<div class="logo"></div>
				
				<div class="login_box">	
					
					<div class="login_form">
						<div class="login_title">
							注册
						</div>
						<form action="" method="post">
							
							<div class="form_text_ipt">
								<input name="username" type="text" placeholder="手机号/邮箱">
							</div>
							<div class="ececk_warning"><span>数据不能为空</span></div>
							<div class="form_text_ipt">
								<input name="password" type="password" placeholder="密码">
							</div>
							<div class="ececk_warning"><span>数据不能为空</span></div>
							<div class="form_text_ipt">
								<input name="repassword" type="password" placeholder="请确认密码">
							</div>
							<div class="ececk_warning"><span>数据不能为空</span></div>

							<div class="form_btn">
								<button type="button">注册</button>
							</div>
							<div class="form_reg_btn">
								<span>已有帐号？</span><a href="login.html">马上登录</a>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="index.html">返回首页</a>
							</div>
						</form>
						<div class="other_login">
							<div class="left other_left">
								<span>其它登录方式</span>
							</div>
							<div class="right other_right">
								<a href="https://graph.qq.com/oauth2.0/show?which=Login&display=pc&client_id=205887&response_type=code&redirect_uri=https://passport.tuniu.com/partner/tencent&scope=get_user_info,add_t,add_pic_t">QQ登录</a>
								<a href="https://open.weixin.qq.com/connect/qrconnect?appid=wxd22498dfe03aa2f5&redirect_uri=http://passport.tuniu.com/partner/weixin&response_type=code&scope=snsapi_login&state=3d6be0a4035d839573b04816624a415e#wechat_redirect">微信登录</a>
								<a href="https://api.weibo.com/oauth2/authorize?client_id=2630548800&response_type=code&redirect_uri=https://passport.tuniu.com/partner/sina">微博登录</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../static/js/jquery-login.js" ></script>
		<script type="text/javascript" src="../static/js/common-login.js" ></script>
	</body>
</html>
