<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>环球航班-帮助中心</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="shortcut icon" href="http://www.umetrip.com/img/favicon.ico"/>
    <link href="../css/basis.css" rel="stylesheet" type="text/css" />
    <link href="http://www.umetrip.com/css/about.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="mian">
    <div class="about">
        <div class="del_com">
            <div class="del_l">
                <ul>
                    <li class="now"><a href="javascript:void(0);">帮助中心</a></li>
                    <li><a href="delay.html" >延误险保险说明</a></li>
                    <li><a href="entrust.html">保险经纪委托协议</a></li>
                    <li><a href="insurance.html">航意险说明</a></li>
                </ul>
            </div>

            <div class="del_r">
                <h1><span>帮助中心</span></h1>
                <div id="helpblank"></div>
                <div>
                    <div class="question">Q:可以用航旅纵横网站查询哪些航班的动态信息？</div>
                    <div class="answer">A:目前，航旅纵横网站暂时支持大陆航班的航班动态查询，国际、港澳台航班正在紧张开发中。</div>
                    <div class="question">Q:航旅纵横网站可以查询哪些机票？</div>
                    <div class="answer">A:目前，航旅纵横网站暂时支持大陆航班的机票查询，国际、港澳台航班正在紧张开发中。</div>
                    <div class="question">Q:我为什么要用航旅纵横网站查航班动态和机票信息？</div>
                    <div class="answer">A:航旅纵横手机客户端已经提供航班动态和机票搜索功能，但由于手机屏幕尺寸限制，手机客户端以满足用户基本需求为主，航旅纵横更为丰富、更为专业，更为贴心的服务内容，需要通过航旅纵横网站呈现给您。航旅纵横网站权威、丰富、贴心的信息服务，会给您带来独一无二的出行体验。</div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://www.umetrip.com/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://www.umetrip.com/js/cookie.js"></script>
<script type="text/javascript" src="../js/publicPage/indexApplyLayout.js"></script>
<script type="text/javascript">
    //var hrefFlog = "about";
    $(function(){
        indexApplyLayout.applyHtml();
    })
</script>
<script type="text/javascript" src="../js/publicPage/indexApplyEvent.js"></script>
</body>
</html>