<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网络电子客票协议</title>
</head>
<body>
<h1>网络电子客票协议</h1>
<h3>购票</h3>
可通过航空公司或航空代理订购点办理电子客票的订购等操作。<br>如：国航、南方航空、东方航空、深圳航空、上海航空，以及正规的旅行服务商如携程旅行网等。<br>购票时要留下方便联络的电话号码，以便航班时刻变化时，承运人能及时通知到旅客。
旅客拿到客票后，应检查所有的信息内容是否正确。<br>如：姓名、航班号、航班日期、出发和到达城市（如果两个城市中有不只一个机场，旅客应确认所使用是哪个机场）、订座状态（OK表示已被确认，RQ表示候补，OPEN表示未确认）。
<br>提示：客票上的CN代表“机场建设费”，YQ代表“燃油附加费”。
<h3>订座</h3>
旅客可以通过电话、网络、航空公司及其销售代理人的售票处定座。<br>已经定妥的座位，旅客应在航空公司规定或预先约定的时限内购买客票，超过此期限旅客可能被取消定座。
<br>旅客持有定妥座位的联程或来回程客票，如在该联程或回程地点停留72小时以上，<br>须在联程或回程航班离站前两天中午12点以前，办理座位再证实手续，否则原定座位不予保留。<br>如旅客到达联程或回程时间离航班离站时间不超过72小时，则不需办理座位再证实手续。
提示：如果旅客的旅行计划是在空运繁忙时期，应尽早预定座位。
<h3>使用</h3>
为了证明旅客的订座和票价，旅客应该保留一张电脑生成的行程单。除此旅客应写下确认号码作为订座证明。<br>
补充说明：行程单不是每个购票点都可以提供的，顾客预订机票时请说明。
<br>电子客票为记名式，只限客票上所列姓名的旅客本人使用，不得转让和涂改，否则客票无效，票款不退。<br>旅客应在客票有效期内，完成客票上列明的全部航程。<br>旅客使用客票时，应交验有效客票，包括乘机航段的乘机联和全部未使用并保留在客票上的其他乘机联和旅客联，缺少上述任何一联，客票即为无效。<br>旅客需注意，在办理乘机手续过程中，确保航空公司代理人只撕掉了应撕的票联。<br>国际和国内联程客票，其国内联程段的乘机联可在国内联程航段使用，不需换开成国内客票；<br>旅客在我国境外购买的用国际客票填开的国内航空运输客票，应换开成我国国内客票后才能使用。
<br>客票自旅行开始之日起，一年内运输有效。如果客票全部未使用，则从填开客票之日起，一年内运输有效。<br>有效期的计算，从旅行开始或填开客票之日的次日零时起至有效期满之日的次日零时为止。<br>特种客票的有效期，按该客票适用票价的有效期计算。 <br>由于航空公司的原因，造成旅客未能在客票有效期内旅行，其客票有效期将延长到航空公司能够安排旅客乘机为止。

</body>
</html>