<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:s="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>航班添加页面</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="padding-left: 100px;padding-right: 100px;padding-top: 100px">

        <form class="form-horizontal" role="form" th:method="post" action="/addFlight">
            <div class="form-group">
                <div >
                    <label for="id" class="col-sm-2 control-label">航班编号:</label>
                    <input type="text"  name="flightNo" id="flightNo"
                           placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <!--<label for="departureCity" class="col-sm-2 control-label">起飞城市：</label>-->
                    <label>起飞城市：</label>
                    <select name="departureCity" id="departureCity">
                        <option value="0" selected="selected">--请选择起飞城市--</option>
                        <option value="1111">武汉</option>
                        <option value="2222">兰州</option>
                        <option value="3333">黄冈</option>
                        <option value="4444">武威</option>
                    </select>
                   <!-- <label for="departureTime" class="col-sm-2 control-label">起飞时间：</label>-->
                    <label>起飞时间：</label>
                    <input type="datetime-local"  name="departureTime" id="departureTime"
                           placeholder="">
                </div>
            </div>
            <div class="form-group">

                <div >
                    <!--<label for="arrivalCity" class="col-sm-2 control-label">到达城市：</label>-->
                    <label>到达城市：</label>
                    <select name="arrivalCity" id="arrivalCity">
                        <option value="0" selected="selected">--请选择到达城市--</option>
                        <option value="1111">武汉</option>
                        <option value="2222">兰州</option>
                        <option value="3333">黄冈</option>
                        <option value="4444">武威</option>
                    </select>
                   <!-- <label for="arrivalTime" class="col-sm-2 control-label">到达时间：</label>-->
                    <label>到达时间：</label>
                    <input type="text"  name="arrivalTime" id="arrivalTime"
                           placeholder="">
                </div>
                    <ul id="formtip"></ul>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">添加</button>
                    </div>
                </div>
        </form>
<script type="text/javascript" src="/static/js/add.js"></script>
</body>
</html>