<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:s="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body style="padding-left: 100px;padding-right: 100px;">

    <center>
        <div style="width:100%;text-align:center">
            <h1>以下是您查询的的航班信息</h1>
        </div>
        <table class="table table-striped">
            <caption><a th:href="@{/add}">添加航班信息</a></caption>

            </div>
            <thead>
            <tr>
                <th>订单编号</th>
                <th>交易号</th>
                <th>支付方式</th>
                <th>交易金额</th>
                <th>交易时间</th>

            </tr>
            </thead>
            <tbody>
                    <tr th:each="hbPay : ${hbPaysList}">
                        <td th:text="${hbPay.order_id}"></td>
                        <td th:text="${hbPay.trade_id}"></td>
                        <td th:text="${hbPay.pay_method}"></td>
                        <td th:text="${hbPay.amount_price}"></td>
                        <td th:text="${hbPay.trade_time}"></td>

                    </tr>
                <tr align="center">
                </tr>
            </tbody>
        </table>

    </center>
</body>
</html>